{% extends "layout.html" %}

{% block loginlogoutconditional %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="d-flex ml-auto flex-column flex-lg-row align-item-center">              
   <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ url_for('users.profile')}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ url_for('static',filename='images/profile.gif')}}" width="50" height="50" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ url_for('users.logout')}}">Log Out</a>
        </div>
      </li>   
    </ul>
  </div>
{% endblock %}

{% block content %}
  <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img class="rounded-circle" src="{{ image_file }}" alt="Unable to load Profile Picture"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <br/>
                    <h1>
                        {{ current_user.firstname }} {{ current_user.lastname }}
                    </h1>
                    <h6>
                        {{ current_user.university }}
                    </h6>
                    <h6> 
                        {% if current_user.regnum %}
                            Regd No: {{ current_user.regnum }}
                        {% else %}
                            <!--Roll Number: N/A-->
                        {% endif %}
                    </h6>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="{{ url_for('users.editprofile') }}">
                    <input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    
                    <p>SKILLS</p>
                    
                    {% if current_user.skill1 in ['1'] %}                    
                        <a href="">CyberSecurity</a><br/> 
                    {% endif %}
                    {% if current_user.skill2 in ['1'] %}                    
                        <a href="">Cloud Computing</a><br/>
                    {% endif %}
                    {% if current_user.skill3 in ['1'] %}                    
                        <a href="">Data analytics and data science</a><br/>
                    {% endif %}
                    {% if current_user.skill4 in ['1'] %}                    
                        <a href="">Networking and wireless</a><br/>
                    {% endif %}
                    {% if current_user.skill5 in ['1'] %}                    
                        <a href="">Software Development</a><br/>
                    {% endif %}
                    {% if current_user.skill6 in ['1'] %}                    
                        <a href="">AI & Machine learning</a><br/>
                    {% endif %}
                    {% if current_user.skill7 in ['1'] %}                    
                        <a href="">Project management</a><br/>
                    {% endif %}
                    {% if current_user.skill8 in ['1'] %}                    
                        <a href="">Programming</a><br/>
                    {% endif %}
                    {% if current_user.skill9 in ['1'] %}                    
                        <a href="">IT service management</a><br/>
                    {% endif %}
                    {% if current_user.skill10 in ['1'] %}                    
                        <a href="">Virtualization</a><br/>
                    {% endif %}
                    
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> 
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.username }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.firstname }} {{ current_user.lastname }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.gender }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Date Of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.birthdate }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Email Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {{ current_user.email }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone Number</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.phonenumber }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.address }}</p>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>College</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if current_user.college %}
                                        {{ current_user.college }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Faculty</label>
                            </div>
                            <div class="col-md-6">
                                <p>N/A
                                    <!--
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                    -->
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Semester</label>
                            </div>
                            <div class="col-md-6">
                                <p>N/A
                                    <!--
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                    -->
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Regd No</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>N/A
                                    <!--
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

<style>
.emp-profile{
    padding: 3%;
    margin-top: 4%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #08bd80;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 300px;
    height: 300px;
}
.profile-img .file {
    position: fixed;
    overflow: visible;
    margin-top: -19.5%;
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h1{
    color: #3C4852;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 520;
}
.profile-head h6{
    color: #ffffff;
    margin-bottom: 5%;
    font-size: 23px;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #3C4852;
    cursor: pointer;
}
.proile-rating{
    font-size: 23px;
    color: #ffffff;
    font-weight: 600;
}
.proile-rating span{
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:0%;
    margin-top:28%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    font-size: 20px;
    color: #3C4852;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    color: #3C4852;
    font-size: 20px;
}
.profile-work
{
    margin-bottom: 150px;
}
.profile-work p{
    font-size: 20px;
    color: #3C4852;
    font-weight: 550;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight:550;
    color: #3C4852;
    font-size: 20px;
}
.profile-tab p{
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
}
</style>

{% endblock %}
  