{% extends "layout.html" %}

{% block loginlogoutconditional %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="d-flex ml-auto flex-column flex-lg-row align-item-center">              
   <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ url_for('profile')}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ url_for('static',filename='images/profile.gif')}}" width="50" height="50" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ url_for('profile')}}">View Profile</a>
        <a class="dropdown-item" href="{{ url_for('logout')}}">Log Out</a>
        </div>
      </li>   
    </ul>
  </div>
{% endblock %}

{% block content %} 
<section class="goal_section layout_padding-top">
  <div class="goal_logo-box">
    <h2>
     ICT in Assessment
    </h2>
  </div>
</section>

<div id="portfolio" class="our-portfolio1 section">
  <style>
    .tab {
      float: left;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      width: 30%;
      height: auto;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current "tab button" class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      float: left;
      padding: 0px 0px;
      border: 1px solid #ccc;
      width: 70%;
      border-left: none;
      height: auto;
    }
  </style>

  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'int')" id="defaultOpen1">Introduction</button>
    <button class="tablinks" onclick="openCity(event, 'mea')">Meaning and Types of Assessment</button>
    <button class="tablinks" onclick="openCity(event, 'rol')">Role of ICT in Assessment</button>
    <button class="tablinks" onclick="openCity(event, 'ass')"> Assessment: Digital Tools and Options</button>
    <button class="tablinks" onclick="openCity(event, 'epo')">E-portfolio</button>
    <button class="tablinks" onclick="openCity(event, 'dig')">Digital Rubrics</button>
    <button class="tablinks" onclick="openCity(event, 'alt')">Digital Assessment Alternatives</button>
    <button class="tablinks" onclick="openCity(event, 'the')">The Trends in Technology Based Assessment</button>
   </div>
  
  <div id="int" class="tabcontent" >
    <button class="tablink" onclick="openPage('docs',this,'')" id="defaultOpen" >Docs</button>
    <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
    <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
    <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>
    
    <div id="docs" class="tabcontent1">
      <iframe src="{{ url_for('static',filename='pdf/Sunita\'s Project.pdf') }}" width="100%" height="600px">
      </iframe>
    </div>
    
    <div id="ass" class="tabcontent1">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd-jBWVxVjdaqvGbYen34pQJ8uVVbVPjmayr9dQfO86PbFlXw/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    
    <div id="tut" class="tabcontent1">
      
      <iframe width="300" height="180" src="https://www.youtube.com/embed/jBTVzb2vg0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="300" height="180" src="https://www.youtube.com/embed/jBTVzb2vg0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="300" height="180" src="https://www.youtube.com/embed/jBTVzb2vg0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="300" height="180" src="https://www.youtube.com/embed/jBTVzb2vg0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
    
    <div id="off" class="tabcontent1">
      <a href="{{ url_for('static',filename='pdf/Sunita\'s Project.pdf') }}">example</a><br>
      <a href="{{ url_for('static',filename='pdf/Sunita\'s Project.pdf') }}">example</a><br>
      <a href="{{ url_for('static',filename='pdf/Sunita\'s Project.pdf') }}">example</a><br>
      <a href="{{ url_for('static',filename='pdf/Sunita\'s Project.pdf') }}">example</a><br>
      <a href="{{ url_for('static',filename='pdf/Sunita\'s Project.pdf') }}">example</a><br>
    </div>
    <style>
    .tablink {
        background-color: #08bd80;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
      }
      
      .tablink:hover {
        background-color: #777;
        color: black;
        
      }
      
      /* Style the tab content (and add height:100% for full page content) */
      .tabcontent1 {
        color: black;
        display: none;
        height: auto;
      }
      
      #docs{background-color: white;}
      #ass {background-color: white; }
      #tut {background-color: white; }
      #off {background-color: white; }
    </style>  
        
  </div>
  
  <div id="mea" class="tabcontent">        
    <button class="tablink" onclick="openPage('docss',this,'')"  >Docs</button>
    <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
    <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
    <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>
    <div id="docss" class="tabcontent1">
      <iframe src="{{ url_for('static',filename='pdf/Sunita\'s Project.pdf') }}" width="100%" height="400px">
      </iframe>
    </div>
    
  </div>
  
  <div id="rol" class="tabcontent">
    <button class="tablink" onclick="openPage('docs',this,'')"  >Docs</button>
    <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
    <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
    <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>

  </div>

  <div id="ass" class="tabcontent">
    <button class="tablink" onclick="openPage('docs',this,'')"  >Docs</button>
    <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
    <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
    <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>

  </div>
    
  <div id="epo" class="tabcontent">
    <button class="tablink" onclick="openPage('docs',this,'')"  >Docs</button>
    <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
    <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
    <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>

  </div>
    
  <div id="dig" class="tabcontent">
    <button class="tablink" onclick="openPage('docs',this,'')"  >Docs</button>
    <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
    <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
    <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>

  </div>

  <div id="alt" class="tabcontent">
    <button class="tablink" onclick="openPage('docs',this,'')"  >Docs</button>
    <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
    <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
    <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>
  
  </div>

  <div id="the" class="tabcontent">
      <button class="tablink" onclick="openPage('docs',this,'')"  >Docs</button>
      <button class="tablink" onclick="openPage('ass', this, '')" >Assessment</button>
      <button class="tablink" onclick="openPage('tut', this, '')" >Tutorials</button>
      <button class="tablink" onclick="openPage('off', this, '')" >Offline Notes</button>
  
  </div>
</div>

  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen1").click();

    function openPage(pageName,elmnt,color) {
      var i, tabcontent1, tablinks;
      tabcontent1 = document.getElementsByClassName("tabcontent1");
      for (i = 0; i < tabcontent1.length; i++) {
        tabcontent1[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }
  
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();

  </script>

{%endblock%}