<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  {% if title %}
    <title>{{ title }} - ShikshyaLaya</title>
  {% else %}
    <title>ShikshyaLaya</title>
  {% endif %}


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/css-circular-prog-bar.css') }}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
    <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-space-dynamic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/css-circular-prog-bar.css') }}">




<link rel="icon" 
      type="image/png" 
      href="{{ url_for('static',filename='images/graduation-cap.png') }}">

</head>

<body class="sub_page">
  <div class="top_container ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{ url_for('home') }}">
           
            <img src="{{ url_for('static',filename='images/logo.png') }}">
          </a>
        

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <div class="d-flex ml-auto flex-column flex-lg-row align-item-center">              
             <ul class="navbar-nav">
                   <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img src="{{ url_for('static',filename='images/profile.gif')}}" width="50" height="50" class="rounded-circle">
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     
                     <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
                   </div>
                 </li>   
               </ul>
             </div>
             </div>
        </nav>
      </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <!-- end header section -->



  <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img class="rounded-circle" src="{{ image_file }}" alt="Unable to load Profile Picture"/>
                    <!--
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                    -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <br/>
                            <h1>
                                {{ current_user.firstname }} {{ current_user.lastname }}
                            </h1>
                            <h6>
                                {{ current_user.university }}
                            </h6>
                            <h6> 
                                {% if current_user.regnum %}
                                    Roll Number: {{ current_user.regnum }}
                                {% else %}
                                    <!--Roll Number: N/A-->
                                {% endif %}</h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="{{ url_for('editprofile') }}">
                    <input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Faculty</a><br/>
                    <a href="">Semester </a><br/>
                    <a href=""> Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ current_user.firstname }} {{ current_user.lastname }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ current_user.gender }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Date Of Birth</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ current_user.birthdate }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            {{ current_user.email }}
                                        </p>
                                    </div>
                                </div>

                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ current_user.phonenumber }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ current_user.address }}</p>
                                    </div>
                                </div>
                    </div>




                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>College</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if current_user.college %}
                                        {{ current_user.college }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Faculty</label>
                            </div>
                            <div class="col-md-6">
                                <p>N/A
                                    <!--
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                    -->
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Semester</label>
                            </div>
                            <div class="col-md-6">
                                <p>N/A
                                    <!--
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                    -->
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Regd No</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>N/A
                                    <!--
                                    {% if current_user.regnum %}
                                        {{ current_user.regnum }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                -->
                                </p>
                            </div>
                        </div>
                
            </div>


                </div>
            </div>
        </div>
        <br/>
    </form>           
</div>
</div>

<style>
.emp-profile{
    padding: 3%;
    margin-top: 4%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #08bd80;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 300px;
    height: 300px;
}
.profile-img .file {
    position: fixed;
    overflow: visible;
    margin-top: -19.5%;
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h1{
    color: #3C4852;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 520;
}
.profile-head h6{
    color: #ffffff;
    margin-bottom: 5%;
    font-size: 23px;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #3C4852;
    cursor: pointer;
}
.proile-rating{
    font-size: 23px;
    color: #ffffff;
    font-weight: 600;
}
.proile-rating span{
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:0%;
    margin-top:28%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    font-size: 20px;
    color: #3C4852;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    color: #3C4852;
    font-size: 20px;
}
.profile-work
{
    margin-top: 0%;
}
.profile-work p{
    font-size: 20px;
    color: #3C4852;
    font-weight: 550;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight:550;
    color: #3C4852;
    font-size: 20px;
}
.profile-tab p{
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
}




</style>


































  



  




  


      <!-- end contact section -->
      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2>
              SHIKSHYALAYA
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    About Us                                                                             
                </h5>
               <p>
                ShikshyaLaya is an online Edtech Platform trying to Democratise access to data & information every student needs. 
            </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Useful Link 
                </h5>
                <ul>
                  <li>
                    <a href="">
                        Video games
                    </a>
                  </li>
                  <li>
                   <a href="">
                      Remote control
                   </a>
                  </li>
                  <li>
                    <a href="">
                        3d controller
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h5>
                    Contact Us
                </h5>
                <p>
                    +977-9842640050<br>
                    +977-9749459505<br>
                    Bharatpur 11, Chitwan, Nepal </p>
              </div>
              <div class="col-md-3">
           
                <div class="subscribe_container">
                  <h5>
                      Newsletter
                  </h5>
                  <div class="form_container">
                    <form action="">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="container">
              <div class="social_container">
                 
                  <div class="social-box">
                    <a href="">
                      <img src="{{ url_for('static',filename='images/fb.png') }}" alt="">
                    </a>
      
                    <a href="">
                      <img src="{{ url_for('static',filename='images/twitter.png') }}" alt="">
                    </a>
                    <a href="">
                      <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="">
                    </a>
                    <a href="">
                      <img src="{{ url_for('static',filename='images/instagram.png') }}" alt="">
                    </a>
                  </div>
                </div>
          </div>
        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2022 All Rights Reserved By
      <a href="#">ShikshyaLaya</a>
    </p>
  </section>

  <!-- footer section -->

  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>


</body>

</html>