{% extends "layout.html" %}

{% block loginlogoutconditional %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="d-flex ml-auto flex-column flex-lg-row align-item-center">              
   <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ url_for('users.profile')}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ url_for('static',filename='images/profile.gif')}}" width="50" height="50" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ url_for('users.profile')}}">View Profile</a>
        <a class="dropdown-item" href="{{ url_for('users.logout')}}">Log Out</a>
        </div>
      </li>   
    </ul>
  </div>
{% endblock %}

{% block content %} 
<section class="goal_section layout_padding-top">
  <div class="goal_logo-box">
    <h2>
   E-learning
    </h2>
  </div>
</section>

<div id="portfolio" class="our-portfolio1 section">
  <div class="hero_btn1-continer">
    <a href="{{ url_for('main.elearningunit1') }}" class="call_to-btn1 btn_white-border">
      E-learning - Concept and Charcteristics 
    </a>
  </div>
  <div class="hero_btn1-continer">
    <a href="{{ url_for('main.elearningunit2') }}" class="call_to-btn1 btn_white-border">
      Learning Management System 
    </a>
  </div>
  <div class="hero_btn1-continer">
    <a href="#" class="call_to-btn1 btn_white-border">
      ICT Integrated Lesson 
    </a>
  </div>
  <div class="hero_btn1-continer">
    <a href="{{ url_for('main.elearningunit4') }}" class="call_to-btn1 btn_white-border">
      ICT in ASSESSMENT 
    </a>
  </div>
  <div class="hero_btn1-continer">
    <a href="#" class="call_to-btn1 btn_white-border">
      ICT for Educational management 
    </a>
  </div>
  <div class="hero_btn1-continer">
    <a href="#" class="call_to-btn1 btn_white-border">
      ICT for Teacher Professional Development 
    </a>
  </div>
  <div class="hero_btn1-continer">
    <a href="#" class="call_to-btn1 btn_white-border">
      E-Content and Open Educational Resoruces  
    </a>
  </div>
</div>

{% endblock %}