<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Fanadesh</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/css-circular-prog-bar.css') }}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
 <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
      <link rel="stylesheet" href="{{ url_for('static',filename='vendor\font-awesome-4.7\css\font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/templatemo-space-dynamic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.css') }}">






  <link rel="stylesheet" href="{{ url_for('static',filename='css/css-circular-prog-bar.css') }}">


</head>

<body class="sub_page">
  <div class="top_container ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{ url_for('home') }}">
           
            <img src="{{ url_for('static',filename='images/logo.png') }}">
          </a>
        

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{ url_for('about') }}"> About </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="#"> Admission </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#"> Why Us </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>

              </ul>
            </div>
        </nav>
      </div>
    </header>
  </div>
  <!-- end header section -->

   <section class="goal_section layout_padding-top">
    <div class="goal_logo-box">
      <h2>
        Choose Your Faculty
      </h2>
    </div>
  </section>

<div class="row">
<div class="card-group">
  <div class="col-lg-3 col-sm-6">
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static',filename='images/graduation-cap.png') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Master of Business Studies (MBS)</h5>
    </div>
  </div>
  </div>

  <div class="col-lg-3 col-sm-6">
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static',filename='images/open-book.png') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Master of Education ( M.Ed)</h5>
    </div>
  </div>
</div>

<div class="col-lg-3 col-sm-6">
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static',filename='images/accounting.png') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bachelor of Business Studies (BBS)</h5>
    </div>
  </div>
  </div>
  </div>
</div>

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          

         

        </div>
      </div>
    </section>


    <!-- end about section -->



  </div>



  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>
        Fanadesh
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="row">
        <div class="col-md-3">
          <h5>
            About Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r
          </p>
        </div>
        <div class="col-md-3">
          <h5>
            Useful Link
          </h5>
          <ul>
            <li>
              <a href="#">
                Video games
              </a>
            </li>
            <li>
              <a href="#">
                Remote control
              </a>
            </li>
            <li>
              <a href="#">
                3d controller
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>
            Contact Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. quisdotempor incididunt ut e
          </p>
        </div>
        <div class="col-md-3">

          <div class="subscribe_container">
            <h5>
              Newsletter
            </h5>
            <div class="form_container">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="social_container">

        <div class="social-box">
          <a href="#">
            <img src="{{ url_for('static',filename='images/fb.png') }}" alt="">
          </a>

          <a href="#">
            <img src="{{ url_for('static',filename='images/twitter.png') }}" alt="">
          </a>
          <a href="#">
            <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="">
          </a>
          <a href="#">
            <img src="{{ url_for('static',filename='images/instagram.png') }}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>


</body>

</html>